canvas {
  border: solid 1px #ccc;
  padding: 2px;
  cursor: url('favicon.ico'), default;
  margin-left: 85px;
}

body {
	cursor: url('https://banner2.kisspng.com/20180128/qsw/kisspng-frankenstein-sword-cartoon-illustration-sword-5a6e698ccc8f34.2569941015171854208379.jpg'), auto;
}

#p1 {
  float: left;
  margin-left: 250px;
  position: relative;
  /* color: white; */
}

#p2{
  float: right;
  margin-right: 400px;
  postion: relative;
  /* color: white; */
}
#game_over {
  position: absolute;
  left: 150px;
  top: 100px;
}

#fight {
  position: absolute;
  left: 150px;
  top: 100px;
}
